html {
  font-family: Arial;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
}

.brand {
  color: #b02121;
  font-size: 40px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 1ch;
}

main {
  display: flex;
  gap: 1ch;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  width: 100px;
  margin: 0;
}

li {
  background-color: #b02121;
  border-radius: 5px;
  color: white;
  height: 25px;
  padding: 5px;
  align-content: center;
}

footer {
  background-color: black;
  color: white;
}

.quoteblock {
  background-color: #ededed;
  width: 100%;
}

.testimonial {
  font-style: italic;
}

blockquote {
  margin: 0;
}

article {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

/* To Do:

* bold header text [x]
* justify grey text with rest []
* modify footer to fit the bottom of the page []
* capitalize and change color of header nav bar menu items []
* justify side panel so it's centered between left side and main section []

*/
