html {
  font-family: Arial;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin: 8px;
}

.brand {
  color: #b02121;
  font-size: 40px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 1ch;
}

a {
  color: black;
  text-decoration: none;
}

main {
  display: flex;
  gap: 1ch;
  height: 85vh;
  margin: 8px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  width: 100px;
  margin: 0;
  padding: 0;
}

li {
  background-color: #b02121;
  border-radius: 5px;
  color: white;
  height: 25px;
  padding: 5px;
  align-content: center;
}

footer {
  display: flex;
  background-color: black;
  color: white;
  width: 100vw;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.quoteblock {
  background-color: #ededed;
  width: 100%;
}

.testimonial {
  font-style: italic;
}

blockquote {
  margin: 0;
}

article {
  display: flex;
  flex-direction: column;
  gap: 1ch;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
}
